# TensorFlow (Windows + Python 3.10 compatible)
tensorflow==2.10.0

# Wavelet + Image Processing
numpy==1.23.5
pillow==9.5.0
opencv-python==4.7.0.72
scikit-image==0.20.0
pywavelets==1.4.1

# Visualization
matplotlib==3.7.1

# Data tools
pandas==1.5.3

# Optional (for notebooks)
jupyter
